<h3>Список заказов:</h3>

<br />
<table class="table table-striped">
  <thead>
  	<tr>
  		<th>#</th>
  		<th>Название</th>
      <th>Цена (1 шт.)</th>
  		<th>Количество</th>
  	</tr>
  </thead>

  <tbody>
  <% total_price = 0 %>
  <% total_qty = 0 %>
  <%i = 0 %>
    <% @items.each do |item|%>

    <% i = i + 1%>
    <tr>
        <th><%=i%></th>
        <th><%=item[0].title%></th>
        <th><%=item[0].price%></th>
        <th><%=item[1]%></th>
    </tr>
    <% total_price += item[0].price * item[1].to_i %>
    <% total_qty += item[1].to_i %>
    <%end%>

    <tr>
        <th></th>
        <th></th>
        <th>Total: <%=total_price %> Rub.</th>
        <th><%=total_qty%></th>
        
    </tr>
  </tbody>
</table>